:root {
  --main-color: rgb(224, 224, 224);
  --background-color: rgb(26, 26, 26);
  --button-color: rgb(255, 38, 0);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-attachment: fixed;
}

#timer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--main-color);
  padding-inline: 4vw;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  width: 70vw;
  min-height: 40vh;
  position: relative;
  padding: 1.8rem;
  z-index: 1;
  background-color: var(--background-color);
  transition: background-color 300ms;
}
.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url("background.png");
  cursor: none;
  transition: opacity 300ms;
}
.bg2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background: url("background4.png");
  cursor: none;
}

/* .container::before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 200vw rgba(228, 228, 228, 0.25);
  filter: blur(2.5px);
  z-index: -1;
} */
.timer-title {
  font-size: clamp(1.9rem, 4vw, 3rem);
  background: transparent;
}
.timer {
  background: transparent;
  font-size: clamp(1.8rem, 4vw, 2rem);
}
.num {
  background: transparent;
}
.button {
  padding: 10px;
  border: solid var(--button-color);
  color: var(--button-color);
  position: absolute;
  border-radius: 10px;
  bottom: 2%;
  right: 5%;
  cursor: pointer;
}
.button:hover {
  background: rgba(255, 38, 0, 0.178);
}
